.well(id='block#{block.block}chain#{block.chain}well')
  form.form-horizontal

    .form-group
      label.col-sm-2.control-label(for='block#{block.block}chain#{block.chain}number') #{__('Block')}:
      .col-sm-10
        .input-group
          span.input-group-addon #
          input.form-control(id='block#{block.block}chain#{block.chain}number', type='text', value='#{block.block}' onkeyup='updateChain(#{block.block}, #{block.chain});')

    .form-group
      label.col-sm-2.control-label(for='block#{block.block}chain#{block.chain}nonce') #{__('Nonce')}:
      .col-sm-10
         input.form-control(id='block#{block.block}chain#{block.chain}nonce', type='text', value='#{block.nonce}', onkeyup='updateChain(#{block.block}, #{block.chain});')

    .form-group
      label.col-sm-2.control-label(for='block#{block.block}chain#{block.chain}data') #{__('Data')}:
      .col-sm-10
        textarea.form-control(id='block#{block.block}chain#{block.chain}data', rows='10', onkeyup='updateChain(#{block.block}, #{block.chain});')

    #state.form-group
      label.col-sm-2.control-label(for='block#{block.block}chain#{block.chain}previous') #{__('Prev')}:
      .col-sm-10
        input.form-control(id='block#{block.block}chain#{block.chain}previous', type='text', value='#{block.previous}', disabled)

    #state.form-group
      label.col-sm-2.control-label(for='block#{block.block}chain#{block.chain}hash') #{__('Hash')}:
      .col-sm-10
        input.form-control(id='block#{block.block}chain#{block.chain}hash', type='text', disabled)

    .form-group
      .col-sm-2
        i.icon-spinner.icon-spin.icon-large
      .col-sm-10
        button.btn.btn-primary.ladda-button(id='block#{block.block}chain#{block.chain}mineButton', data-style='expand-right')
          span.ladda-label #{__('Mine')}
